__pycache__
*.nc
*.npy
*.npz
plotting_tips_Greenland.ipynb
climate_forcing_example.py
climate-change-scenarios/*/pdd-model.py
literature/*.pdf

# tex files
*.toc
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz